<template>
  <v-app>
    <v-layout>
      <v-flex>
    <v-app-bar app flat dark color="black fill-height ">
      <v-app-bar-nav-icon @click="drawer = !drawer" style></v-app-bar-nav-icon>
      <v-toolbar-title class="headline text-uppercase">
        <span class="title"
          style="background-color: #ff9800 !important; background: linear-gradient(#59271561, #ff9800); color: #fff;">AYOADE-</span>
        <span class="title" style="background-color: brown; color:white">SHOES</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn style="background-color:black" href="/">HOME</v-btn>
      <v-btn style="background-color:black" href="/Men">MEN</v-btn>
      <v-btn style="background-color:black" href="/Women">WOMEN</v-btn>
      <v-btn style="background-color:black" href="/Hub">HUB</v-btn>
    </v-app-bar>
    <!-- The side Bar Start From Here -->
    <v-navigation-drawer app v-model="drawer" color="black">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title  class="title">
            <span style="background-color: darkorange;">MARKET-</span>
            <span class="title" style="background-color: brown; color:white">PLACE</span>
          </v-list-item-title class="title">
          <v-list-item-title><v-icon style="color:darkorange;">mdi-phone</v-icon>
          <span style="color: darkorange; padding-bottom: 10px">Tel:(08169069082)</span>
        </v-list-item-title>
        <v-list-item-subtitle>
            <v-icon style="color:darkorange;">mdi-email</v-icon>
            <span style="color:darkorange;">agbabodavid@yahoo.com</span>
          </v-list-item-subtitle>
         </v-list-item-content>
         </v-list-item>
         <v-list-item>

        <v-list-item-content>
          <v-list-item-title>
            <v-tab style="margin-right: 70px">
            <v-icon href="wwww.instagram.com/ayo_ayomi_ayoade"style="color:lightpink; margin-right: 20px">mdi-instagram</v-icon>
            <v-icon href="https://twitter.com/agbabodavid"style="color:lightblue; margin-left: 15px">mdi-twitter</v-icon>
            <v-icon href="https://web.whatsapp.com/+2348169069082"style="color: lightgreen; margin-left: 30px">mdi-whatsapp</v-icon>
          </v-tab>
         </v-list-item-title>
         </v-list-item-content>
         </v-list-item>

      <v-divider color="darkorange"></v-divider>
      <!-- Men-HUB -->
      <div style="margin-right: 25px;">
      <v-list-item-content style="padding: 15px;">
        <span style="color:darkorange">MEN-HUB</span>
      </v-list-item-content>
      <v-list-item-content style="margin-right: 150px;">
        <v-btn style="background-color:black;color:white;" href="/Shoe">Shoe</v-btn>
      </v-list-item-content>
      <v-list-item-content style="margin-right: 150px;">
        <v-btn style="background-color:black;color:white" href="/Palm_m">Palm</v-btn>
      </v-list-item-content>
       <v-list-item-content style="margin-right: 130px;">
        <v-btn style="background-color:black;color:white" href="/Sandal_m">Sandal</v-btn>
      </v-list-item-content>
      <!-- Men-HUB END Here! -->
      <v-divider color="darkorange"></v-divider>
      <!-- WOMEN-HUB -->
      <v-list-item-content style="padding: 15px;">
        <span style="color:darkorange;">WOMEN-HUB</span>
      </v-list-item-content>
      <v-list-item-content style="margin-right: 130px;">
        <v-btn style="background-color:black;color:white" href="/Sandal_w">Sandal</v-btn>
      </v-list-item-content>
      <v-list-item-content style="margin-right: 150px;">
        <v-btn style="background-color:black;color:white" href="/Palm_w">Palm</v-btn>
      </v-list-item-content>
      <!-- Women-HUB ENDS HERE! -->
      <v-divider color="darkorange"></v-divider>
      <!-- Item-HUB -->
      <v-list-item-content style="padding: 15px;">
        <span style="color: darkorange; margin-right: 15px">ITEM-HUB</span>
      </v-list-item-content>
      <v-list-item-content style="margin-right: 160px;">
        <v-btn style="background-color:black;color:white" href="/Polish">Buy</v-btn>
      </v-list-item-content>
      <v-list-item-content style="margin-right: 130px;">
        <v-btn style="background-color:black;color:white" href="/Shoe_on">Repair</v-btn>
      </v-list-item-content>
      </div>
      </v-navigation-drawer>
      <!-- / THe side-Bar  Ends Here -->
      <v-content>
      <router-view />
      </v-content>

    <!-- Footer Start Here -->
    <v-footer dark padless>
      <v-card class="flex black" flat tile>
        <v-card-title class="text-center">
          <v-list-item-subtitle>
            <strong>CONTACT US</strong>
          </v-list-item-subtitle>
          <v-list-item-subtitle>
            <v-icon>mdi-phone</v-icon>
            <span>Tel:(+234)8169069082</span>
          </v-list-item-subtitle>
          <v-list-item-subtitle>
            <v-icon>mdi-email</v-icon>
            <span>agbabodavid@yahoo.com</span>
          </v-list-item-subtitle>
          <v-list-item-subtitle>
            <v-icon>mdi-store</v-icon>
            <span>1, Oba-Akran way Ikeja, Lagos, Nigeria.</span>
          </v-list-item-subtitle>
          <v-list-item-subtitle>
            <v-icon>mdi-home</v-icon>
            <span>8, Sowemimo Street, G.R.A Ikeja, Lagos, Nigeria</span>
          </v-list-item-subtitle>
          <v-tabs background-color="black" centered dark icons-and-text>
            <v-tab href="https://www.instagram.com/ayo_ayomi_ayoade">
              Instagram
              <v-icon style="color: pink">mdi-instagram</v-icon>
            </v-tab>
            <v-tab href="https://twitter.com/agbabodavid">
              tiwtter
              <v-icon style="color: skyblue">mdi-twitter</v-icon>
            </v-tab>
            <v-tab href="https://web.whatsapp.com/+2348169069082">
              WhatsApp
              <v-icon style="color: green">mdi-whatsapp</v-icon>
            </v-tab>
          </v-tabs>
        </v-card-title>
        <v-card-text class="py-2 white--text text-center black">
          {{ new Date().getFullYear() }} &copy;— All Reserved
          <strong>SHOE-HUB</strong>
        </v-card-text>
      </v-card>
    </v-footer>
    <!-- Footer Ends Here -->
  </v-flex>>
  </v-layout>
  </v-app>
</template>

<!--  Script styling here! -->
<script>
export default {
  name: "default",
  components: {},
  data: () => ({
    drawer: true
  })
};
</script>
<!-- Style css -->
<style lang="scss">
.has-shoeBg {
  background-image: url("/assets/monks.jpeg");
  background-size: cover;
  border-radius: 0px;
  padding: 15px;
}
.panel {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}
</style>
