<!-- Template Start Here -->
<template>
  <v-layout fluid class="has-shoeBg">
    <v-flex class="fill-height">
      <v-col md="12" class="d-flex">
        <div class="panel">
          <v-row class="row">
            <v-col class="col-md-3 col-lg6" v-for="(card, index) in cards" :key="index">
              <v-card>
                <router-link to>
                  <v-img
                    :src="card.src"
                    class="white--text align-center"
                    gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                    height="250px"
                    width="374px"
                  ></v-img>
                </router-link>
                <v-card-text
                  class="title text-center py-1 brown"
                  style="color: #fff;"
                  v-text="card.title"
                ></v-card-text>
                <v-card-actions
                  class="justify-center py-1 orange"
                  style="background-color: #ff9800 !important; background: linear-gradient(#59271561, #ff9800); color: #000;"
                >
                  <span class="subtitle-2" v-text="card.price"></span>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-flex>
  </v-layout>
</template>
<!--Template Ends Here -->
<script>
export default {
  name: "Hub",
  data: () => ({
    cards: [
      {
        price: "₦12,000.00",
        title: "Cream-Bag",
        src: "/image/bag.jpeg",
        flex: 6
      },
      {
        price: "₦10,000.00",
        title: "light-Cream",
        src: "/image/wallet4.jpeg",
        flex: 6
      },
      {
        price: "₦30,000.00",
        title: "Brown-Shoe",
        src: "/image/bag2.jpeg",
        flex: 6
      },
      {
        price: "₦14,500.00",
        title: "Lunch-Bag",
        src: "/image/belt.jpeg",
        flex: 6
      },
      {
        price: "₦20,000.00",
        title: "Shopping-Bag",
        src: "/image/bag4.jpeg",
        flex: 6
      },
      {
        price: "₦10,000.00",
        title: "Dark-brown",
        src: "/image/bag5.jpeg",
        flex: 6
      },
      {
        price: "₦12,000.00",
        title: "Dark-brown",
        src: "/image/bag8.jpeg",
        flex: 6
      },
      {
        price: "₦15,000.00",
        title: "Dark-brown",
        src: "/image/bag9.png",
        flex: 6
      },
      {
        price: "₦4,000.00",
        title: "Cream-Wallet",
        src: "/image/wallet.jpeg",
        flex: 6
      },
      {
        price: "₦5,000.00",
        title: "Red-wallet",
        src: "/image/wallet1.jpeg",
        flex: 6
      },
      {
        price: "₦5,000.00",
        title: "Brown-wallet",
        src: "/image/wallet2.jpeg",
        flex: 6
      },
      {
        price: "₦10,500.00",
        title: "Small-Bag",
        src: "/image/wallet3.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Green-wallet",
        src: "/image/wallet4.jpeg",
        flex: 6
      },
      {
        price: "₦9,000.00",
        title: "Brown-wallet",
        src: "/image/wallet5.jpeg",
        flex: 6
      },
      {
        price: "₦9,000.00",
        title: "Brown-wallet",
        src: "/image/wallet6.jpeg",
        flex: 6
      },
      {
        price: "₦7,000.00",
        title: "Brown-Belt",
        src: "/image/belt.jpeg",
        flex: 6
      },
      {
        price: "₦5,000.00",
        title: "Black-leather-Belt",
        src: "/image/bag3.jpeg",
        flex: 6
      },
      {
        price: "₦4,000.00",
        title: "Rough-Skin Belt",
        src: "/image/belt2.jpeg",
        flex: 6
      },
      {
        price: "₦6,500.00",
        title: "Dark-Brown",
        src: "/image/wallet3.jpeg",
        flex: 6
      },
      {
        price: "₦4,000.00",
        title: "Brown-",
        src: "/image/belt4.jpeg",
        flex: 6
      }
    ]
  })
};
</script>

<style lang="scss">
.has-shoeBg {
  background-image: url("../assets/monks.jpeg");
  background-size: cover;
  border-radius: 0px;
  padding: 15px;
}

.panel {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
</style>
