<template>
  <v-layout fluid class="has-shoeBg">
    <v-flex class="fill-height">
      <v-col md="6">
        <v-sheet dark class="mt-10 pa-4" color="transparent">
          <v-card-title
            style="background-color: blue !important; background: linear-gradient(#59271561, #ff9800); color: black;"
          >Welcome To Ayoade-Shoes</v-card-title>
          <v-card-text
            style="background-color:  !important; background: linear-gradient(#59271561, #ff9800); color: white; padding: 5px"
          >
            <strong>Motto:</strong> Premium Shoes.
          </v-card-text>

          <v-divider></v-divider>
          <v-card-text>
            Passion and love for making design with quality
            leather-material.
            <br />To make the foot looks good in casual out-fit With best highly
            Quality leather.
            <br />

            <strong>NOTE:</strong> We're the best you can partner with and you
            will not be dissapointed.
          </v-card-text>
        </v-sheet>
      </v-col>

      <!-- Component for the Cards Image Start Here -->
      <v-layout fluid class="has-shoeBg">
        <v-flex class="fill-height">
          <div md="12" class="d-flex">
            <div class="panel">
              <v-row class="row">
                <v-col class="col-md-3 col-lg6" v-for="(card, index) in cards" :key="index">
                  <v-card>
                    <router-link to>
                      <v-img
                        :src="card.src"
                        class="white--text align-center"
                        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                        height="250px"
                        width="374px"
                      ></v-img>
                    </router-link>
                    <v-card-text
                      class="title text-center py-1 brown"
                      style="color: #fff;"
                      v-text="card.title"
                    ></v-card-text>
                    <v-card-actions
                      class="justify-center py-1 orange"
                      style="background-color: #ff9800 !important; background: linear-gradient(#59271561, #ff9800); color: #000;"
                    >
                      <span class="subtitle-2" v-text="card.price"></span>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<!-- Template Ends Here -->
<script>
export default {
  name: "index",
  data: () => ({
    cards: [
      {
        price: "₦30,000.00",
        title: "Alligator leather",
        src: "/image/casual.jpeg",
        flex: 6,
        productId: 1
      },
      {
        price: "₦15,000.00",
        title: "Dark-brown-belt",
        src: "/image/belt8.jpeg",
        flex: 6,
        productId: 2
      },
      {
        price: "₦10,000.00",
        title: "Palm-Slippers",
        src: "/image/wom21.jpeg",
        flex: 6,
        productId: 3
      },
      {
        price: "₦7,500.00",
        title: "Shopping-Bag",
        src: "/image/bag4.jpeg",
        flex: 6
      },
      {
        price: "₦20,000.00",
        title: "Men-Wallet",
        src: "/image/wallet2.jpeg",
        flex: 6
      },
      {
        price: "₦25,000.00",
        title: "Black-Men-Sandal",
        src: "/image/gucci.jpeg",
        flex: 6
      },
      {
        price: "₦30,000.00",
        title: "Crocodie-skin",
        src: "/image/sa.png",
        flex: 6
      },
      { price: "₦8,000.00",
        title: "Palm", 
        src: "/image/wom32.jpeg", 
        flex: 6 }
    ]
  })
};
</script>

<style lang="scss">
.has-shoeBg {
  background-image: url("../assets/monks.jpeg");
  background-size: cover;
  border-radius: 0px;
  padding: 15px;
}
.panel {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
</style>
