<!-- Template Start Here -->
<template>
  <v-layout fluid class="has-shoeBg">
    <v-flex class="fill-height">
      <v-col md="12" class="d-flex">
        <div class="panel">
          <v-row class="row">
            <v-col class="col-md-3 col-lg6" v-for="(card, index) in cards" :key="index">
              <v-card>
                <router-link to>
                  <v-img
                    :src="card.src"
                    class="white--text align-center"
                    gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                    height="250px"
                    width="374px"
                  ></v-img>
                </router-link>
                <v-card-text
                  class="title text-center py-1 brown"
                  style="color: #fff;"
                  v-text="card.title"
                ></v-card-text>
                <v-card-actions
                  class="justify-center py-1 orange"
                  style="background-color: #ff9800 !important; background: linear-gradient(#59271561, #ff9800); color: #000;"
                >
                  <span class="subtitle-2" v-text="card.price"></span>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-flex>
  </v-layout>
</template>
<!--Template Ends Here -->
<script>
export default {
  name: "men",
  data: () => ({
    cards: [
      {
        price: "₦28,000.00",
        title: "Black Shoe",
        src: "/image/blue.jpeg",
        flex: 6
      },
      {
        price: "₦15,000.00",
        title: "Black-follower",
        src: "/image/shoes.jpeg",
        flex: 6
      },
      {
        price: "₦30,000.00",
        title: "Brown-Shoe",
        src: "/image/hand.jpeg",
        flex: 6
      },
      {
        price: "₦14,500.00",
        title: "Dark-Brown",
        src: "/image/penny.jpeg",
        flex: 6
      },
      {
        price: "₦20,000.00",
        title: "Suede-Boot",
        src: "/image/lux.jpeg",
        flex: 6
      },
      {
        price: "₦25,000.00",
        title: "Dark-Green/black",
        src: "/image/monks.jpeg",
        flex: 6
      },
      {
        price: "₦10,000.00",
        title: "Red-Suede",
        src: "/image/red.jpeg",
        flex: 6
      },
      {
        price: "₦30,000.00",
        title: "Suede-blue",
        src: "/image/sole.jpeg",
        flex: 6
      },
      {
        price: "₦10,000.00",
        title: "Green-Suede",
        src: "/image/suede.jpeg",
        flex: 6
      },
      {
        price: "₦30,000.00",
        title: "Alligator-leather",
        src: "/image/allen.jpeg",
        flex: 6
      },
      {
        price: "₦20,000.00",
        title: "Brown-leather",
        src: "/image/alligato.jpeg",
        flex: 6
      },
      {
        price: "₦30,000.00",
        title: "Suede-Boot",
        src: "/image/navy.jpeg",
        flex: 6
      },
      {
        price: "₦9,000.00",
        title: "Sky-blue",
        src: "/image/shoe.jpeg",
        flex: 6
      },
      {
        price: "₦20,000.00",
        title: "BLack-leather",
        src: "/image/sanders1.jpeg",
        flex: 6
      },
      {
        price: "₦20,000.00",
        title: "Black-leather",
        src: "/image/leather.jpeg",
        flex: 6
      },
      {
        price: "₦30,000.00",
        title: "Crocodie-skin",
        src: "/image/sa.png",
        flex: 6
      }
    ]
  })
};
</script>

<style lang="scss">
.has-shoeBg {
  background-image: url("../assets/monks.jpeg");
  background-size: cover;
  border-radius: 0px;
  padding: 15px;
}

.panel {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
</style>
