<!-- Template Start Here -->
<template>
  <v-layout fluid class="has-shoeBg">
    <v-flex class="fill-height">
      <v-col md="12" class="d-flex">
        <div class="panel">
          <v-row class="row">
            <v-col class="col-md-3 col-lg6" v-for="(card, index) in cards" :key="index">
              <v-card>
                <router-link to>
                  <v-img
                    :src="card.src"
                    class="white--text align-center"
                    gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                    height="250px"
                    width="374px"
                  ></v-img>
                </router-link>
                <v-card-text
                  class="title text-center py-1 brown"
                  style="color: #fff;"
                  v-text="card.title"
                ></v-card-text>
                <v-card-actions
                  class="justify-center py-1 orange"
                  style="background-color: #ff9800 !important; background: linear-gradient(#59271561, #ff9800); color: #000;"
                >
                  <span class="subtitle-2" v-text="card.price"></span>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-flex>
  </v-layout>
</template>
<!--Template Ends Here -->

<script>
export default {
  name: "Sandal_w",
  data: () => ({
    cards: [
      {
        price: "₦10,000.00",
        title: "Sandal",
        src: "/image/ws1.jpg",
        flex: 6
      },
      {
        price: "₦10,000.00",
        title: "Sandal",
        src: "/image/ws3.jpg",
        flex: 6
      },
       {
        price: "₦10,000.00",
        title: "Sandal",
        src: "/image/ws2.jpg",
        flex: 6
      },
       {
        price: "₦10,000.00",
        title: "Sandal",
        src: "/image/ws3.jpg",
        flex: 6
      },
       {
        price: "₦10,000.00",
        title: "Sandal",
        src: "/image/ws4.jpg",
        flex: 6
      },
       {
        price: "₦10,000.00",
        title: "Sandal",
        src: "/image/ws5.jpg",
        flex: 6
      },
       {
        price: "₦10,000.00",
        title: "Sandal",
        src: "/image/ws6.jpg",
        flex: 6
      },
      {
        price: "₦10,000.00",
        title: "Sandal",
        src: "/image/ws3.jpg",
        flex: 6
      },
       {
        price: "₦10,000.00",
        title: "Sandal",
        src: "/image/ws7.jpg",
        flex: 6
      },
       {
        price: "₦10,000.00",
        title: "Sandal",
        src: "/image/ws8.jpg",
        flex: 6
      },
       {
        price: "₦10,000.00",
        title: "Sandal",
        src: "/image/ws9.jpg",
        flex: 6
      },
       {
        price: "₦10,000.00",
        title: "Sandal",
        src: "/image/ws10.jpg",
        flex: 6
      },
     
    ]
  })
};
</script>

<style lang="scss">
.has-shoeBg {
  background-image: url("../assets/monks.jpeg");
  background-size: cover;
  border-radius: 0px;
  padding: 15px;
}

.panel {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
</style>
