<!-- Template Start Here -->
<template>
  <v-layout fluid class="has-shoeBg">
    <v-flex class="fill-height">
      <v-col md="12" class="d-flex">
        <div class="panel">
          <v-row class="row">
            <v-col class="col-md-3 col-lg6" v-for="(card, index) in cards" :key="index">
              <v-card>
                <router-link to>
                  <v-img
                    :src="card.src"
                    class="white--text align-center"
                    gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                    height="250px"
                    width="374px"
                  ></v-img>
                </router-link>
                <v-card-text
                  class="title text-center py-1 brown"
                  style="color: #fff;"
                  v-text="card.title"
                ></v-card-text>
                <v-card-actions
                  class="justify-center py-1 orange"
                  style="background-color: #ff9800 !important; background: linear-gradient(#59271561, #ff9800); color: #000;"
                >
                  <span class="subtitle-2" v-text="card.price"></span>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-flex>
  </v-layout>
</template>
<!--Template Ends Here -->
<script>
export default {
  name: "Women",
  data: () => ({
    cards: [
      {
        price: "₦5,000.00",
        title: "Simple-Palm",
        src: "/image/wom29.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm-Sandal",
        src: "/image/wom25.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Simple-/B/Palm",
        src: "/image/wom32.jpeg",
        flex: 6
      },
      { price: "₦4,500.00", title: "Sandal", src: "/image/wom4.jpeg", flex: 6 },
      { price: "₦10,000.00", title: "Cream", src: "/image/wom5.jpeg", flex: 6 },

      {
        price: "₦5,000.00",
        title: "Basket-Palm",
        src: "/image/wom6.jpeg",
        flex: 6
      },
      {
        price: "₦6,000.00",
        title: "Sandals",
        src: "/image/wom7.jpeg",
        flex: 6
      },
      { price: "₦6,000.00", title: "palm", src: "/image/wom8.jpeg", flex: 6 },
      {
        price: "₦8,000.00",
        title: "Curvy-Palm",
        src: "/image/wom9.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom10.jpeg",
        lex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom11.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom12.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom13.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom14.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom15.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom16.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom17.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom18.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom19.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom30.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom21.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom22.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom23.jpeg",
        flex: 6
      },
      {
        price: "₦8,000.00",
        title: "Palm",
        src: "/image/wom24.jpeg",
        flex: 6
      }
    ]
  })
};
</script>

<style lang="scss">
.has-shoeBg {
  background-image: url("../assets/monks.jpeg");
  background-size: cover;
  border-radius: 0px;
  padding: 15px;
}

.panel {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
}
</style>
